@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f2ee;
    font-family: cursive;
}

h2 {
    font-family: Pacifico, cursive;

}

@media (min-width: 641px) {
  .home , .recipe {
    width: calc(100% - 16rem);
    margin-left: auto;
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .home , .recipe {
    width: calc(100% - 16rem);
    margin-left: auto;
    margin-right: 40px;
  }
}
